body{
    margin: 0 auto;
     
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    width: 1280px;
    background-color: #f2f2f2;
    color:#333333;
    text-transform: uppercase;
}

.main-header{
    position: relative;
}

.navigation-link a{
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;

    color: #262626;
}

.navigation-link a>img{
    display: block;
    position: absolute;
    z-index: 3;
    width: 140px;
    min-height: 72px;
    left: 540px;
}

a.hotel-flag{
    color: #766357;
}

.navigation-link-item a:hover{
    color: #81b3d2;
}

.navigation-link-item a:active{
    color:#cacaca;
}






.navigation-link-item{
    list-style: none;   
}

.navigation-link-item li:first-child{
    padding-left: 73px;
}

.navigation-link-item li:nth-child(2){
    margin-right: 250px;
}

.navigation-link-item li:last-child{
    padding-right: 73px;
}

.visually-hidden {
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.welcome-image{
    background-image: url("../img/background-photo-sedona.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 513px;   
}

.welcome-image img:nth-child(2){
    padding-left:380px;
    padding-right: 370px;
    padding-top: 76px;
    bottom: 508px;
}

.welcome-image img:nth-child(3){
   padding-top: 26px;
}

.advantages-sedona{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 60px;
    margin: auto;
}

.advantages-sedona-look{
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 60px;
    margin: auto;
}

.advantages-sedona-main{
    text-align: center;
}

.advantages-sedona-main h3{
    white-space: pre-line;
}

.advantages-sedona-main li{
    padding-left: 40px;
}

.advantages-sedona-main li,
.advantages-sedona-extra li{
    list-style: none;
    line-height: 21px;
}

.advantages-sedona-blue{
    background-color: #81b3d2;
    min-height: 255px;
    top: 50px;
}

.advantages-sedona-blue  h3{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 47px;
    margin: 0;
    font-size: 21px;
    font-weight: bold;

    color: white;
}

.advantages-sedona-blue p:nth-child(2){
    color: white;
}

.advantages-sedona-blue p:nth-child(3){
    white-space: pre-line;
    font-size: 14px;

    color: white;
}

.advantages-sedona-num{
    font-size: 14px;

    color: black;
}

.advantages-sedona-description{
    padding: 0 50px;
    white-space: pre-line;
    font-size: 14px;

    color: black;
}

.advantages-sedona-extra{
    text-align: center;
    min-height: 330px;
    margin: 0;
    padding: 0;
}

.advantages-sedona-extra li{
    padding-top: 130px;
    white-space: pre-line;
    background-position-x: 160px;
    background-position-y: 60px;
    width: 400px;
}

.advantages-sedona-extra li:nth-child(1){
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
}

.advantages-sedona-extra li:nth-child(2){
    background-image: url("../img/hotdog.png");
    background-repeat: no-repeat;
}

.advantages-sedona-extra li:nth-child(3){
    background-image: url("../img/present.png");
    background-repeat: no-repeat;
}

.advantages-sedona-extra h3,
.advantages-sedona-extra p{
    margin: 0;
    padding: 0;
}

.advantages-sedona-last{
    background-color: #eeeeee;
    min-height: 255px;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.advantages-sedona-last li{
    white-space: pre-line;
    width: 400px;
}

.advantages-sedona-last h3,
.advantages-sedona-last p{
    margin: 0;
    padding: 0;
}

.offer{
    text-align: center;
    min-height: 770px;
}

iframe{
    position: absolute;
    z-index: 0;
    right: 74px;
    padding-top: 61px;
}

.offer a{
    background-color: #766357;
}

.offer a:hover{
    background-color: #604e43;
}

.offer a:active{
    background-color: #503e33;
}
.offer-question{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 38px;

    background-color: white;
}

.offer-choose{
    color: #333333;
    background-color: white;
    padding-bottom: 90px;
    margin: 0;
}

.offer-search-hotel{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: white;

    position: relative;
    z-index: 2;

    padding: 34px 140px;
    text-decoration: none;
    border: 1px solid #766357;
}

.form-search{
    display: none;
}

@keyframes bounce{
    0% { transform: translateY(-100px);}
    10% { transform: translateY(44px);}
    20% { transform: translateY(88px);}
    30% { transform: translateY(176px);}
    100% { transform: translateY(0px);}
}

.form-search-display{
    display: block;

    animation-name: bounce;
    animation-duration: 0.6s;
}

.form-search-hotel{
    width: 572px;
    min-height: 434px;
    left: 314px;

    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

.form-search-hotel p:nth-child(1){
    padding-top: 90px;
}

.form-search-hotel p:nth-child(1),
.form-search-hotel p:nth-child(2){
    padding-bottom: 30px;
    margin: 0;
}

.form-search-hotel p:nth-child(3){
    padding-bottom: 53px;
    margin: 0;
}

.form-date-go,
.form-date-back{
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    
    margin-left: 15px;
    
    width: 350px;
    height: 40px;
}

.form-date-go:hover,
.form-date-back:hover{
    background-color: #ebebeb;
}

.datetime-reset-button{
    display: none;
}

.form-date-go{
    margin-left: 17px;
}

.form-date-go:focus,
.form-date-back:focus{
    outline: 1px solid #e5e5e5; 
}

::-webkit-datetime-edit{
    padding: 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}

::-webkit-inner-spin-button,
::-webkit-clear-button{
    display: none;
}

::-webkit-calendar-picker-indicator{
    color: transparent;
    opacity: 1;
    background-image: url("../img/calendar.png");
    background-repeat: no-repeat;
    background-size: 19px 18px;
    padding-right: 10px;
    padding-bottom: 10px;
}

::-webkit-calendar-picker-indicator:hover{
    color: transparent;
    opacity: 1;
    background-image: url("../img/calendar-black.png");
    background-repeat: no-repeat;
    background-size: 19px 18px;
    background-color: #ffffff;
    padding-right: 10px;
    padding-bottom: 10px;
}

::-webkit-calendar-picker-indicator:active{
    color: transparent;
    opacity: 1;
    background-image: url("../img/calendar-blue.png");
    background-repeat: no-repeat;
    background-size: 19px 18px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.form-label-go,
.form-label-back,
.form-label-parents,
.form-label-children{
    font-weight: bold;
}

input{
    background-color: #f2f2f2;
}

input[type="number"]{
    -moz-appearance: textfield;
}

input[type="date"]:hover{
    background-color: #ebebeb;
}

input[type="date"]:focus{
    background-color: #ffffff;
}

.form-label-parents{
    margin-right: 31px;
    
}

.form-label-children{
    margin-right: 40px;
    margin-left: 30px;
}

.plus-parents,
.minus-parents,
.plus-children,
.minus-children{
    border: 1px solid #f2f2f2;
    background: #f2f2f2;

    text-align: center;
    padding: 0;

    width: 40px;
    height: 40px;

    font-size: 25px;
    outline: none;

    color: #a9a9a9;
    font-weight: bold;
}

.form-parents-num,
.form-children-num{

    border: 1px solid #f2f2f2;
    background: #f2f2f2;

    text-align: center;
    vertical-align: top;
    padding: 0;

    font-size: 15px;
    color: #000000;
    font-weight: bold;

    margin-left: -5px;
    margin-right: -5px;

    width: 38px;
    height: 38px;
    outline: none;
}

.minus-parents,
.minus-children,
.plus-parents,
.plus-children{
    color: #a9a9a9;
}

.minus-parents:hover,
.minus-children:hover,
.plus-parents:hover,
.plus-children:hover{
    color: #000000;
}

.minus-parents:active,
.minus-children:active,
.plus-parents:active,
.plus-children:active{
    color: #81b3d2;
}

.search{
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    padding: 0;
    width: 459px;
    height: 60px;
    color: white;
    border: 1px solid #81b3d2;
    background-color: #81b3d2;
}

.search:hover{
    background-color: #669ec0;
}

.search:active{
    background-color: #5496bd;
}

.main-footer{
    width: 1200px;
}

.main-footer .hashtag,
.main-footer .social-button,
.main-footer .htmlacademy-logo{
    width: 400px;
    text-align: center;
}

.hashtag{
    font-size: 21px;
    padding-top: 50px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.social-button-item{
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 115px;
    padding-right: 115px;
}

.social-button-item li .fb-link{
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-button-item li .tt-link{
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-button-item li .yt-link{
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-button-item li .fb-link,
.social-button-item li .tt-link,
.social-button-item li .yt-link{
    background-color: #81b3d2;
    width: 50px;
    height: 50px;
    list-style-type: none;
}

.social-button-item li .fb-link:hover,
.social-button-item li .tt-link:hover,
.social-button-item li .yt-link:hover{
    background-color: #669ec0;
}

.social-button-item li .fb-link:active,
.social-button-item li .tt-link:active,
.social-button-item li .yt-link:active{
    background-color: #5496bd;
}

.htmlacademy-pointer{
    margin: 0;
    padding-top: 53px;
    color: #231f20;

    background-color: white;
}

.htmlacademy-logo{
    text-decoration: none;
}

a svg path:hover{
    fill: #c8deeb;
}

a svg path:active{
    fill: #bdbbbc;
}

.htmlacademy-logo svg{
    padding-top: 42px;
    padding-left: 10px;
}

/*hotel list*/

.selection-services{
    width: 1200px;
    min-height: 217px;
    background-image: url('../img/IMG_9190.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.selection-services-form{
    color: white;
    padding: 30px 73px;
    
}

.selection-services-form fieldset{
    border: none;

    padding: 0;
    margin: 0;
}

.selection-services-form legend{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;

    color: #ffffff;
}

.type-of-housing-first-item{
    padding: 0;
    margin:0;
}

.type-of-housing-second{
    padding-left: 115px;
}

.type-of-housing-second-item{
    padding-left: 115px;
    margin: 0;
    
}

.type-of-housing-first-item li,
.type-of-housing-second-item li{
    padding-top: 30px;
    
    font-size: 14px;
    line-height: 21px;

    color: #ffffff;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]+label{
    cursor: pointer;
}

input[type="checkbox"]+label::before{
    content: "";
    display: inline-block;

    width:23px;
    height: 23px;

    margin: 0 15px -6px 0;

    background-image: url("../img/off-and-on.png");
    background-repeat: no-repeat;
}

input[type="checkbox"]+label::before{
    background-position: 0 0;
}

input[type="checkbox"]:checked+label::before{
    background-position: 0 -23px;
}

.filter-range{
    margin-left: auto;
    width: 300px;

    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title{
    padding-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls{
    display: flex;
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
  
    width: 2px;
    height: 22px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    background: #ffffff;
  }

.price-controls label{
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price{
    width: 90px;
    padding-left: 65px;
}

.price-controls .max-price{
    width: 90px;
    padding-left: 36px;
}

.price-controls input{
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls{
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale{
    height: 2px;

    background: rgba(255,255,255,0.3);
}

.range-controls .bar{
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toogle{
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;

    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);

    cursor: pointer;
}

.range-toolge-min{
    left: 0;
}

.range-toogle-max{
    left: 80%;
}

.range-toogle:hover{
    background: #1c4f80;
    width: 6px;
    height: 6px;
}

.btn-transparent{
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover{
    background-color: #ffffff;
    color: #262626;
}

.bread-crumbs{
    width: 1200px;
    min-height: 87px;
    align-items: baseline;
}

.bread-crumbs h3{
    font-size: 21px;
    line-height: 23px;
    margin: 0;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 73px;

    color: #000000;
}
.bread-crumbs p{
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-left: 50px;

    color: #262626;
}
.bread-crumbs-item{
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-left: 40px;
}

.bread-crumbs-item li a{
    text-decoration: none;
}

.bread-crumbs-item li:first-child a{
    color: #81b3d2;
}

.bread-crumbs-item li:nth-child(2) a,
.bread-crumbs-item li:last-child a{
    color: #d9d9d9;
    border-bottom: 1px dashed #81b3d2;
}

.bread-crumbs-item li:last-child a:hover{
    color: #95bed8;
}

.bread-crumbs-item li:last-child a:active{
    color: #262626;
}

.bread-crumbs-item li:not(:first-child){
    padding-left: 30px;
}

.ap-and-down{
    margin-left: auto;
    padding-right: 73px;
}

.ap-and-down a{
    text-decoration: none;
}

a.button-up path:hover,
a.button-down path:hover{
    fill: #231f20;
}

a.button-up path:active,
a.button-down path:active{
    fill: #81b3d2;
}


.hotels-row{
    margin: 0;
    padding: 0;
}

.hotel-item{
    list-style-type: none;
    width: 1200px;
    min-height: 150px;
    align-items: center;
}

.hotel-view{
    padding-left: 73px;
    padding-right: 32px;
}

.hotel-name{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding-bottom: 10px;

    background-color: white;
}

.hotel-name a{
    text-decoration: none;
    color: #000000;
}

.hotel-name a:hover{
    color: #81b3d2;
}

.hotel-name a:active{
    color: #cacaca;
}

.hotel-description{
    color: #000000;
    background-color: white;
}

.hotel-price-level{
    padding-bottom: 10px;
}

.hotel-button a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    padding: 3px 17px;
    color: white;
}

.hotel-button-read{
    background-color: #81b3d2;
}

.hotel-button-read:hover{
    background-color: #669ec0;
}

.hotel-button-read:active{
    color: #94b9d2;
    background-color: #5496bd;
}

.hotel-button-order{
    background-color: #766357;
}

.hotel-button-order:hover{
    background-color: #604e43;
}

.hotel-button-order:active{
    color: #928a85;
    background-color: #503e33;
}

.hotel-level,
.hotel-price,
.hotel-stars{
    font-size: 14px;
    line-height: 21px;
    color: #939393;
    margin: 0;

    background-color: white;
}

.hotel-price{
    padding-left: 5px;
}

.hotel-stars li,
.bread-crumbs li,
.selection-services li{
    list-style-type: none;
}

.hotel-stars{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 73px;
}
.hotel-stars-item{
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    padding-bottom: 44px;
}

.hotel-rating{
    margin: 0;
    background: #f2f2f2;
    padding: 3px 15px;
}

/*grid style*/

.wrapper{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 1200px;
    margin: 0 40px;
}

.navigation-link{
    height: 55px;
}

.navigation-link-item{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navigation-link-item li{
    padding-top: 14px;
}

.navigation-link-item li:firs-child{
    left: 73px;
}

.advantages-sedona-main{
    display: flex;
}

.advantages-sedona-extra{
    display: flex;
}

.advantages-sedona-last{
    display: flex;
}

.main-footer{
    display: flex;
}

.social-button-item{
    display: flex;
    justify-content: space-around;
}
.social-button-item li{
    display: flex;
}

.htmlacademy-logo{
    display: flex;
    justify-content: center;
}

/*grid catalog*/
.selection-services-form{
    display: flex;
}

.bread-crumbs{
    display: flex;
}

.bread-crumbs-item{
    display: flex;
}

.hotel-item{
    display: flex;
}

.hotel-price-level{
    display: flex;
}

.hotel-stars-item{
    display: flex;
}




