body{
    margin: 0 auto;
     
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    width: 1280px;
    background-color: #f2f2f2;
    color:#333333;
    text-transform: uppercase;
}

.main-header{
    position: relative;
}

.navigation-link a>img{
    display: block;
    position: absolute;
    width: 140px;
    height: 72px;
    left: 530px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #333333;
}

.navigation-link-item a:hover{
    color: #81b3d2;
}
.hotel-flag{
    color: #766357;
}

.navigation-link-item a:active{
    color:#cacaca;
}

h3{
    font-size: 21px;
    font-weight: bold;
    color: #333333;    
}

.navigation-link-item{
    list-style: none;   
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.welcome-image{
    background-image: url("../img/background-photo-sedona.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 773px;
    background-color: #f2f2f2;
}

.welcome-image img{
    padding: 77px 370px;

}

.advantages-sedona{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 70px;
    margin: auto;
}

.advantages-sedona-look{
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    margin: auto;
}

.advantages-sedona-main li,
.advantages-sedona-extra li{
    list-style: none;
    line-height: 21px;  
}

.offer a{
    background-color: #766357;
}

.offer a:hover{
    background-color: #604e43;
}

.offer a:active{
    background-color: #503e33;
}
.offer-question{
    font-size: 30px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.offer-choose{
    color: #333333;
    background-color: white;
}

.offer-search-hotel{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: white;
    border: 1px solid #766357;
    background-color: #766357;
}

.form-label-go,
.form-label-back,
.form-label-parents,
.form-label-children{
    font-weight: bold;
}

input{
    background-color: #f2f2f2;
}

input:hover{
    background-color: #ebebeb;
}

input:focus{
    background-color: #ffffff;
}

.minus-parents,
.minus-children,
.plus-parents,
.plus-children{
    color: #a9a9a9;
}

.minus-parents:hover,
.minus-children:hover,
.plus-parents:hover,
.plus-children:hover{
    color: #000000;
}

.minus-parents:active,
.minus-children:active,
.plus-parents:active,
.plus-children:active{
    color: #81b3d2;
}

.search{
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    width: 459px;
    height: 60px;
    color: white;
    border: 1px solid #81b3d2;
    background-color: #81b3d2;
}

.search:hover{
    background-color: #669ec0;
}

.search:active{
    background-color: #5496bd;
}

.social-button-item li:first-child,
.social-button-item li:nth-child(2),
.social-button-item li:last-child{
   
    background-color: #81b3d2;
}

.social-button-item li:first-child:hover,
.social-button-item li:nth-child(2):hover,
.social-button-item li:last-child:hover{
    background-color: #669ec0;
}

.social-button-item li:first-child:active,
.social-button-item li:nth-child(2):active,
.social-button-item li:last-child:active{
    background-color: #5496bd;
}

.hashtag{
    font-size: 21px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.htmlacademy-pointer{
    color: #231f20;

    background-color: white;
}

.htmlacademy-pointer:hover{
    color: #81b3d2;
}

/*hotel list*/
.hotel-item{
    list-style: none;
}

.hotel-name{
    font-size: 21px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.hotel-description{
    color: #000000;

    background-color: white;
}

.hotel-level,
.hotel-price,
.hotel-stars{
    font-size: 14px;
    line-height: 21px;
    color: black;

    background-color: white;
}

.hotel-stars li,
.bread-crumbs li,
.selection-services li{
    list-style: none;
}

/*grid style*/

.wrapper{
    background-color: white;
    width: 1200px;
    margin: 0 40px;
}

.navigation-link{
    height: 55px;
}

.navigation-link-item{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navigation-link-item li{
    padding-top: 14px;
}


