body{
    margin: auto;
     
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    width: 1280px;
    color:#000000;
    text-transform: uppercase;
}

main{
    /*background: #f2f2f2;*/
}
.main-header{
    position: relative;
    background-color: #f2f2f2;
}

.main-header-logo {
    position: absolute;
    padding: 0 570px;
    z-index: 400;
    border-style: none;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

a:hover{
    color: red;
}

h3{
    font-size: 21px;
    font-weight: bold;
    color: #000000;    
}

.navigation-link-item{
    list-style: none;   
}

.visually-hidden{
    display: none;
}

.welcome-image{
    margin-bottom: auto;
    background: #f2f2f2;
}

.advantages{
    padding-left: 40px;

    background-color: #f2f2f2;
}

.advatages-write-block{
    width: 1200px;
    height: 260px;
    background-color: white;
}

.advantages-sedona{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 70px;
    margin: auto;
}

.advantages-sedona-look{
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    margin: auto;
}

.advantages-sedona-main{
    display: flex;
}
.advantages-sedona-main li{
    list-style: none;
    line-height: 21px;  
}

.advantages-sedona-num,
.advantages-sedona-description{
    text-align: center;
}

/*.advantages-sedona-blue{
    background-color: blue;
}*/

.offer-question{
    font-size: 30px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.offer-choose{
    color: #333333;

    background-color: white;
}

.offer-search-hotel{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: white;
    border: 1px solid #766357;
    background-color: #766357;
}

.form-label-go,
.form-label-back,
.form-label-parents,
.form-label-children{
    font-weight: bold;
}

button{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: white;
    border: 1px solid #81b3d2;
    background-color: #81b3d2;
}

.hashtag{
    font-size: 21px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.htmlacademy-pointer{
    color: #000000;

    background-color: white;
}

/*hotel list*/
.hotel-item{
    list-style: none;
}

.hotel-name{
    font-size: 21px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.hotel-description{
    color: #000000;

    background-color: white;
}

.hotel-level,
.hotel-price,
.hotel-stars{
    font-size: 14px;
    line-height: 21px;
    color: black;

    background-color: white;
}

.hotel-stars li{
    list-style: none;
}

/*grid*/
.conteiner{
    display: flex;
    width: 1200px;
    height: 56px;  
    padding: 0 40px;  
}

.navigation-link{
    width: 1056px;
    padding: 0 73px;

    background-color: white;
}

.navigation-link-item{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.navigation-link-item li:nth-child(2){
    position: relative;
    margin-right: 312px;
    z-index: 600;    
}

.navigation-link-item li:nth-child(1),
.navigation-link-item li:nth-child(3),
.navigation-link-item li:nth-child(4){
    position: relative;
    z-index: 600;
}

.welcome-image img:nth-child(2){
    position: relative;
    background-color: #f2f2f2;
    width: 1200px;
    height: 512px;
    z-index:  100;
    padding: 0 40px; 
}

.welcome-image img:nth-child(3){
    position: absolute;
    z-index: 300;
    padding: 0 412px;
    top: 132px;
}

.advantages img:first-child{
    width: 1200px;
    height: 60px;
    position: absolute;
    z-index: 900;
    padding-right: 40px;
    bottom: 94px;
}
